$icomoon-font-path: "~@/common/fonts" !default;

$icon-ok: \e900;
$icon-no: \e901;
$icon-add: \e902;
$icon-play-mini: \e903;
$icon-playlist: \e904;
$icon-music: \e905;
$icon-Search: \e906;
$icon-clear: \e907;
$icon-close: \e908;
$icon-like: \e909;
$icon-not-like: \e90a;
$icon-pause: \e90b;
$icon-play: \e90c;
$icon-prev: \e90d;
$icon-loop: \e90e;
$icon-sequence: \e90f;
$icon-random: \e910;
$icon-back: \e911;
$icon-mine: \e912;
$icon-next: \e913;
$icon-dismiss: \e914;
$icon-pause-mini: \e915;

